aiohttp
aiosignal
albumentations
ansicon
antlr4-python3-runtime
anyio
arrow
async-timeout
attrs
beautifulsoup4
blessed
certifi
charset-normalizer
click
cmake
colorama
contourpy
croniter
cycler
dateutils
deepdiff
fastapi
filelock
fonttools
frozenlist
fsspec
fsspec[http]
h11
huggingface-hub
hydra-core
idna
imageio
importlib-resources
inquirer
itsdangerous
jinja2
jinxed
joblib
kiwisolver
lazy-loader
lightning-cloud
lightning-utilities
lightning
lit
markdown-it-py
markupsafe
matplotlib
mdurl
mpmath
multidict
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
omegaconf
opencv-python-headless
opencv-python
ordered-set
packaging
pandas
pillow
psutil
pycocotools
pydantic
pygments
pyjwt
pyparsing
python-dateutil
python-editor
python-multipart
pytorch-lightning
pytz
pywavelets
pyyaml
qudida
readchar
requests
rich
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentry-sdk
setuptools
six
sniffio
soupsieve
starlette
starsessions
sympy
threadpoolctl
tifffile
timm
torch
torchmetrics
torchvision
tqdm
traitlets
triton
typing-extensions
tzdata
ultralytics@git+https://github.com/Interpause/ultralytics.git@6b39102c366cac5f13139c0d93dd6b8b4c4829a3
urllib3
uvicorn
wcwidth
websocket-client
websockets
wheel
yarl
zipp
